<h1>Admin Dashboard</h1>

<div>
  <h3>Total Products</h3>
  <p><%= @products %></p>
  <%= link_to 'All Products', [:admin, :products], class: 'btn btn-info' %>
  <br><br>
  <h3>Total Categories</h3>
  <p><%= @categories %></p>
</div>
